<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是映射接口的全类名 -->
<mapper namespace="c_exam.mapper.ClassMapper">

	<insert id="addClass">
		insert into classInfo (
			id, name, deptId, createTime
		)
		values (
			seq_for_classInfo.nextval,
			#{obj.name},
			#{obj.deptId},
			sysdate
		)
	</insert>
	
	<select id="getClassInfoById" resultType="c_exam.pojo.dao.ClassInfo">
		select * from classInfo where id = #{id}
	</select>
	
	<select id="getClassInfo" resultType="ClassInfo">
		select * from(
			select c.*,rownum rn 
			from (select * from classInfo) c
			where #{end} >= rownum
		)
		where rn > #{start}
	</select>
</mapper>