<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是映射接口的全类名 -->
<mapper namespace="c_exam.mapper.DeptMapper">

	<insert id="addDept">
		insert into deptInfo (
			id, name, createTime
		)
		values (
			seq_for_deptInfo.nextval,
			#{obj.name},
			sysdate
		)
	</insert>
	
	<select id="getDeptById" resultType="DeptInfo">
		select * from deptInfo where id = #{id}
	</select>
	
	<select id="getDepts" resultType="DeptInfo">
		select * from deptInfo
	</select>
	
	<select id="getDeptInfo" resultType="DeptInfo">
		select * 
		from 
			(
				select d.*,rownum rn 
				from
					(select * from deptInfo) d
				where #{end} >= rownum
			)
		where rn > #{start}
	</select>
</mapper>