<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是映射接口的全类名 -->
<mapper namespace="c_exam.mapper.ExamSerialMapper">

	<insert id="addExamSerial">
		insert into examSerialInfo (
			id, forDesc, createTime
		)
		values (
			seq_for_examSerialInfo.nextval,
			#{obj.forDesc},
			sysdate
		)
	</insert>
	
	<select id="getExamSerialInfoById" resultType="ExamSerialInfo">
		select * from examSerialInfo where id = #{id}
	</select>
	
	<select id="getAll" resultType="ExamSerialInfo">
		select * from examSerialInfo
	</select>
	
	<delete id="del">
		delete from examSerialInfo where id = #{id}
	</delete>
	
	<select id="getExamSerialInfo" resultType="ExamSerialInfo">
		select * 
		from
			(select u.*,rownum rn 
			from
				(select * from examSerialInfo) u
			where #{end} >= rownum)
		where rn > #{start}
	</select>
</mapper>