<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是映射接口的全类名 -->
<mapper namespace="c_exam.mapper.ExamMapper">

	<insert id="addExam">
		insert into examInfo (
			id, questionId, examId, createTime
		)
		values (
			seq_for_examInfo.nextval,
			#{obj.questionId},
			#{obj.examId},
			sysdate
		)
	</insert>
	
	<delete id="del">
		delete from examInfo where examId = #{examId}
	</delete>
	
	<select id="getQuestionIdsByExamId" resultType="int">
		select questionId from examInfo where examId = #{examId}
	</select>
	
	<select id="getExamInfoById" resultType="ExamInfo">
		select * from examInfo where id = #{id}
	</select>
	
	<select id="getExamInfos" resultType="ExamInfo">
		select * 
		from
			(
				select e.*,rownum rn 
				from
					(select * from examInfo) e
				where #{end} >= rownum
			)
		where rn> #{start}
	</select>
</mapper>