<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是映射接口的全类名 -->
<mapper namespace="c_exam.mapper.ExamQuestionTypeMapper">

	<insert id="addExamQuestionType">
		insert into examQuestionType (
			id, examId, type, sum, createTime
		)
		values (
			seq_for_examQuestionType.nextval,
			#{obj.examId},
			#{obj.type},
			#{obj.sum},
			sysdate
		)
	</insert>
	
	<select id="getExamQuestionTypeById" resultType="ExamQuestionType">
		select * from examQuestionType where id = #{id}
	</select>
	
	<select id="getExamQuestionTypes" resultType="ExamQuestionType">
		select * 
		from
			(
				select e.*,rownum rn 
				from
					(select * from examQuestionType) e
				where #{end} >= rownum
			)
		where rn> #{start}
	</select>
	
	<select id="getExamQuestionTypeByExamId" resultType="ExamQuestionType">
		select * from examQuestionType where examId = #{examId}
	</select>
	
</mapper>