<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是映射接口的全类名 -->
<mapper namespace="c_exam.mapper.ExamQuestionTypeMapper">

	<insert id="addExamQuestionType">
		insert into examQuestionType (
			id, examId, type, sum, createTime
		)
		values (
			seq_for_examQuestionType.nextval,
			#{obj.examId},
			#{obj.type},
			#{obj.sum},
			sysdate
		)
	</insert>
	
</mapper>