<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是映射接口的全类名 -->
<mapper namespace="c_exam.mapper.PermissionMapper">

	<insert id="addPermission">
		insert into permissionInfo (
			id, name, url, forDesc, createTime
		)
		values (
			seq_for_permissionInfo.nextval,
			#{obj.name},
			#{obj.url},
			#{obj.forDesc},
			sysdate
		)
	</insert>
	
	<select id="getPermissionInfos" resultType="PermissionInfo">
		select * 
		from permissionInfo
		where permissionInfo.Id in
			(
				select ra.pemissionid from roleAccessInfo ra
				inner join roleInfo r on r.id = ra.roleid
				where roleId = #{rid} 
			)
	</select>
	
	<select id="getByIds" resultType="PermissionInfo">
		select * from permissionInfo where id in
		<foreach collection="ids" item="id" separator="," open="(" close=")">
			#{id}
		</foreach>
	</select>
	
	<!-- 可以和上面的合并 -->
	<select id="getAll" resultType="PermissionInfo">
		select * from permissionInfo
	</select>
	
</mapper>