<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是映射接口的全类名 -->
<mapper namespace="c_exam.mapper.QuestionMapper">

	<insert id="addObj">
		insert into questionObj (
			id, content, forComment, questionType, itemA, itemB, itemC, itemD, answer, occurTime
		)
		values (
			seq_for_questionObj.nextval,
			#{obj.content},
			#{obj.forComment},
			#{obj.questionType},
			#{obj.itemA},
			#{obj.itemB},
			#{obj.itemC},
			#{obj.itemD},
			#{obj.answer},
			sysdate
		)
	</insert>
	
</mapper>