<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是映射接口的全类名 -->
<mapper namespace="c_exam.mapper.StudentGradeMapper">

	<insert id="addStudentGrade">
		insert into stuGradeInfo (
			id, stuId, examId, grade, createTime
		)
		values (
			seq_for_stuGradeInfo.nextval,
			#{obj.stuId},
			#{obj.examId},
			#{obj.grade},
			sysdate
		)
	</insert>
	
	<update id="updateGrade">
		update stuGradeInfo set grade = #{score} where stuId = #{stuId}
	</update>
	
	<select id="getStuGradeList" resultType="c_exam.pojo.dto.StudentGradeDto">
		select
			a.stuId, a.examId, a.grade, b.forDesc examName, c.name stuName 
		from 
			stuGradeInfo a, examSerialInfo b, userInfo c
		where 
			a.examId = b.id and a.stuId = c.id
	</select>
	
	<select id="getGrade" resultType="c_exam.pojo.dto.StudentGradeDto">
		select
			a.stuId, a.examId, a.grade, b.forDesc examName, c.name stuName 
		from 
			stuGradeInfo a, examSerialInfo b, userInfo c
		where 
			a.examId = b.id and a.stuId = c.id and a.stuId = #{stuId} and a.examId = #{examId}
	</select>
	
</mapper>