<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是映射接口的全类名 -->
<mapper namespace="c_exam.mapper.StudentAnswerMapper">

	<insert id="addStudentAnswer">
		insert into stuAnswerInfo (
			id, stuId, questionId, examId, answer, createTime
		)
		values (
			seq_for_stuAnswerInfo.nextval,
			#{obj.stuId},
			#{obj.questionId},
			#{obj.examId},
			#{obj.answer},
			sysdate
		)
	</insert>
	
	<select id="getAnswerByUser" resultType="StudentAnswerInfo">
		select 
			a.stuId, a.questionid, a.examId, a.answer stuAnswer, b.answer questionAnswer, b.content questionContent, c.name
		from
			stuAnswerInfo a, questionInfo b, userInfo c
		where
			a.questionId = b.id and a.stuId = c.id
		<if test="userId != null">
			and stuId = #{userId}
		</if>
		<if test="examId != null">
			and examId = #{examId}
		</if>
	</select>
	
	<select id="getAnswerDtoByUser" resultType="c_exam.pojo.dto.StudentAnswerDto">
		select 
			a.stuId, a.questionId, a.examId, a.answer stuAnswer, b.answer questionAnswer, b.content questionContent, b.questionType
		from
			stuAnswerInfo a, questionInfo b
		where
			a.questionId = b.id
		<if test="stuId != null">
			and stuId = #{stuId}
		</if>
		<if test="examId != null">
			and examId = #{examId}
		</if>
	</select>
	
</mapper>