<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是映射接口的全类名 -->
<mapper namespace="c_exam.mapper.StudentAnswerMapper">

	<insert id="addStudentAnswer">
		insert into stuAnswerInfo (
			id, stuId, questionId, examId, answer, createTime
		)
		values (
			seq_for_stuAnswerInfo.nextval,
			#{obj.stuId},
			#{obj.questionId},
			#{obj.examId},
			#{obj.answer},
			sysdate
		)
	</insert>
	
	<select id="getAnswerByUser" resultType="StudentAnswerInfo">
		select * from stuAnswerInfo where 1=1
		<if test="userId != null">
			and stuId = #{userId}
		</if>
		<if test="examId != null">
			and examId = #{examId}
		</if>
	</select>
	
</mapper>