<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是映射接口的全类名 -->
<mapper namespace="c_exam.mapper.UserMapper">

	<insert id="addUser">
		insert into userInfo (
			id, roleId, name, pwd, gender, classId, deptId, createTime
		)
		values (
			seq_for_userInfo.nextval,
			#{obj.roleId},
			#{obj.name},
			#{obj.pwd},
			#{obj.gender},
			#{obj.classId},
			#{obj.deptId},
			sysdate
		)
	</insert>
	
	<select id="getUserById" resultType="UserInfo">
		select * from userInfo where id = #{id}
	</select>
	
	<select id="getUsers" resultType="UserInfo">
		select * 
		from
			(select u.*,rownum rn 
			from
				(select * from userInfo) u
			where #{end} >= rownum)
		where rn > #{start}
	</select>
	
</mapper>