<!DOCTYPE html>
<html>
##html头
<head lang="en">
#parse("content/base/head.vm")
<style>
.am-table th {
	white-space:nowrap
}
</style>
</head>
##顶部导航栏
#parse("content/base/nav.vm")

<body>

<div class="am-cf admin-main">
##左侧菜单栏
#parse("content/base/menu.vm")

<!-- content start -->
<div class="admin-content">
##内容
#parse("content/$!{content}.vm")
</div>

</div>
#amazeuiJs()
<script>
</script>
</body>
</html>
