<!DOCTYPE html>
<html>
##html头
#parse("content/base/head.vm")

##顶部导航栏
#parse("content/base/nav.vm")

<body>

##左侧菜单栏
#parse("content/base/menu.vm")

<div class="am-cf admin-main">
<!-- content start -->
<div class="admin-content">
##内容
#parse("content/$!{content}.vm")
</div>

</div>
#amazeuiJs()
</body>
</html>
