<!DOCTYPE html>
<html>
<head lang="en">
#parse("/content/base/head.vm")
<style>
	##全局居中
  	* {
	    margin: 0 auto;
	    padding: 0;
	    border:0;
	}
	#body {
		width: 600px;
		height: 350px;
		margin-top: 200px;
		border: #CCC solid 1px;
		border-radius: 15px;
	}
    .header {
    	text-align: center;
    }
    .header h1 {
    	font-size: 200%;
    	color: #333;
    	margin-top: 30px;
    }
    .header p {
    	font-size: 14px;
    }
    #login {
    	width:300px;
    }
</style>
</head>

<body>

<div id="body">
<div class="header">
    <div class="am-g">
   		<h1>C 语言考试系统</h1>
    </div>
    <hr />
</div>
<form class="am-form" action="$!{rc.contextPath}/toLogin" method="post">
  	<fieldset>
		<div id="login">
			<div class="am-input-group">
				<span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
				<input type="text" class="am-form-field" name="name" placeholder="Username">
			</div>
			<div class="am-input-group">
				<span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
				<input type="password" class="am-form-field" name="pwd" placeholder="Password">
			</div>
	    	<p><button type="submit" class="am-btn am-btn-default" style="float:right;">登 录</button></p>
		</div>
  	</fieldset>
</form>
</div>
    
#amazeuiJs()
#if($!{msg} && $!{msg} == "1")
    <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
	    <div class="am-modal-dialog">
	        <div class="am-modal-bd">账号不能为空</div>
	        <div class="am-modal-footer"><span class="am-modal-btn">确定</span></div>
	    </div>
    </div>
    <script>$('#my-alert').modal('open');</script>
#end
<script>
$.ajax({
    type : 'post',
    url : '$!{rc.contextPath}/loginIn',
    data : {
        mobile : $("#mobile").val(),
        vcode : $("#vcode").val()
    },
    cache : false,
    dataType:'json',
    error : function (data) {
		
    },
    success : function (data) {
      	if(data == true){
          	##说明验证成功，提示一下然后跳转页面
          	$("#showMessage").text("验证成功");
          	window.location.href='$!{rc.contextPath}/bus/accountBeanSend/send?id=' + $("#sendId").val();
      	}else{
      		##说明验证失败
      		$("#showMessage").text("验证失败，点击重新发送重新获取验证码或点击旁边空白处退出");
      	}
    }
});
</script>
</body>
</html>



