<form action="" method="post" id="pageForm" style="width:100%">
  	<div class="admin-content-body">
	  	<div class="am-cf am-padding">
			<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">考试题型</strong></div>
	  	</div>
	  	
	    <div class="am-u-sm-12">
	  		<table class="am-table am-table-bd am-table-striped admin-content-table">
	        <thead>
	        <tr>
          		<th>题型</th><th>题目数量</th><th>操作</th>
        	</tr>
        	</thead>
        	<tbody>
        	#foreach($item in $!{types})
            <tr>
        	  	<td>
        	  		#if($!{item}=="CHOOSE") 选择题 
        	  		#elseif($!{item}=="BLANK") 填空题 
        	  		#elseif($!{item}=="PROGRESS") 程序题 
        	  		#end
        	  	</td>
        	  	<td><input type="number" min="0" id="typeNum" required /></td>
              	<td>
                <div class="am-dropdown" data-am-dropdown>
                  	<button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                  	<ul class="am-dropdown-content">
                    	<li><a href="javascript:addType('$!{item}')">添加</a></li>
                  	</ul>
                </div>
              	</td>
            </tr>
        #end
        </tbody>
      	</table>
      	<div class="am-cf am-padding">
	  		<input class="am-btn am-btn-primary" value="生成考试试卷" onclick="window.location.href='$!{rc.contextPath}/questionType/generate'"/>
  		</div>
	  		<table class="am-table am-table-bd am-table-striped admin-content-table">
	        <thead>
	        <tr>
          		<th>题型</th><th>数量</th><th>操作</th>
        	</tr>
        	</thead>
        	<tbody>
        	#foreach($item in $!{examTypes})
            <tr>
            	<td>
        	  		#if($!{item.type}=="CHOOSE") 选择题 
        	  		#elseif($!{item.type}=="BLANK") 填空题 
        	  		#elseif($!{item.type}=="PROGRESS") 程序题 
        	  		#end
        	  	</td>
        	  	<td>$!{item.sum}</td>
              	<td>
                <div class="am-dropdown" data-am-dropdown>
                  	<button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                  	<ul class="am-dropdown-content">
                    	<li><a href="javascript:del($!{item.id})">移除</a></li>
                  	</ul>
                </div>
              	</td>
            </tr>
        	#end
        </tbody>
      	</table>
      	
    	</div>
	</div>
</form>
<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">删除失败</div>
        <div class="am-modal-footer"><span class="am-modal-btn">确定</span></div>
    </div>
</div>
<script>
	function addType(type) {
		var sum = $("#typeNum").val();
		$.ajax({
		    type : 'post',
		    url : '$!{rc.contextPath}/questionType/h/h/addType',
		    data : {
		    	sum : sum,
		        type : type
		    },
		    cache : false,
		    dataType:'json',
		    error : function (data) {},
		    success : function (data) {
		      	if(data == true){
		      		window.location.href='$!{rc.contextPath}/questionType/list';
		      	}else{
		      	
		      	}
		    }
		});
	}

	function del(id) {
		$.ajax({
		    type : 'post',
		    url : '$!{rc.contextPath}/questionType/h/h/del',
		    data : {
		        id : id
		    },
		    cache : false,
		    dataType:'json',
		    error : function (data) {},
		    success : function (data) {
		      	if(data == true){
		      		location.href='$!{rc.contextPath}/questionType/list';
		      	}else{
					$('#my-alert').modal('open');
		      	}
		    }
		});
	}
</script>