<form action="" method="post" id="pageForm" style="width:100%">
  	<div class="admin-content-body">
	  	<div class="am-cf am-padding">
			<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">题目信息</strong></div>
	  	</div>
	  	<div class="am-cf am-padding">
	  		<input class="am-btn am-btn-primary" value="添加题目" onclick="window.location.href='$!{rc.contextPath}/item/toAdd?action=add'"/>
	  		<input class="am-btn am-btn-primary" value="导入题目" onclick="window.location.href='$!{rc.contextPath}/item/toAdd?action=add'"/>
  		</div>
  		<div class="am-g">
  		<br />
	    <div class="am-u-sm-12 am-u-md-3">
	        <input type="text" name="itemName" class="am-form-field" placeholder="itemdentName">
	    </div>
	    <div class="am-u-sm-12 am-u-md-3">
	        <input type="text" name="className" class="am-form-field" placeholder="ClassName">
	    </div>
	    <div class="am-u-sm-12 am-u-md-3">
	        <input type="text" name="deptName" class="am-form-field" placeholder="DeptName">
	    </div>
    	<span class="am-input-group-btn"><button class="am-btn am-btn-default" onclick="pageSubmit()">搜索</button></span>
	    <div class="am-u-sm-12">
	  		<table class="am-table am-table-bd am-table-striped admin-content-table">
	        <thead>
	        <tr>
          		<th>ID</th><th>题型</th><th>内容</th><th>选项A</th><th>选项B</th><th>选项C</th><th>选项D</th><th>解析</th><th>答案</th><th>添加时间</th><th>Option</th>
        	</tr>
        	</thead>
        	<tbody>
        	#foreach($item in $!{page.data})
            <tr>
        	  	<td>$!{item.id}</td>
        	  	<td>$!{item.questionType}</td>
        	  	<td>$!{item.content}</td>
        	  	<td>$!{item.itemA}</td>
        	  	<td>$!{item.itemB}</td>
        	  	<td>$!{item.itemC}</td>
        	  	<td>$!{item.itemD}</td>
        	  	<td>$!{item.forComment}</td>
        	  	<td>$!{item.answer}</td>
        	  	<td>$!{item.createTime}</td>
              	<td>
                <div class="am-dropdown" data-am-dropdown>
                  	<button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                  	<ul class="am-dropdown-content">
                    	<li><a href="javascript:window.location.href='$!{rc.contextPath}/item/toEdit?id=$!{item.itemId}&action=edit'">修改</a></li>
                    	<li><a href="javascript:del($!{item.itemId})">删除</a></li>
                  	</ul>
                </div>
              	</td>
            </tr>
        #end
        </tbody>
      	</table>
    	</div>
	</div>
#page()
#pageJs()
</form>